Options -Indexes

<FilesMatch "\.(?:php[0-9]?|phtml|phar|cgi|pl|py|sh|shtml|htm|html|svg)$">
    Require all denied
</FilesMatch>

<IfModule mod_php.c>
    php_flag engine off
</IfModule>

RemoveHandler .php .phtml .phar
RemoveType .php .phtml .phar
